extends layout

block content
  
  section
    
    section.three-column

      h1 What it is.

      p A game.

      h1 What is it, though?

      p i buy a lottery ticket which has a potential value of 100,000,000 dollars.  

      p it costs me 1 dollar.

      p i sell shares in the ticket for 1 santoshi each.

      p there are 416,000 santoshi in 1 dollar.

      p every share you buy entitles you to an equal share of the winnings.  so if 4 people buy a share and i win, i split the winnings 5 ways.  your upside was 20M, your downside was $.0000023978.  if 416,000 shares sell, and we win, the upside is 100M / 416k which is 240 bucks per share.

      p if we sell more than than 416,000 shares, we buy another ticket with previous 416,000 santoshi, so we are out no more additional dollars.

      p if we sell 832,000 shares, we have two tickets with a potential payout of 120.  But your downside is only two santoshi, assuming you bought one in the first ticket and one in the next.

      p And so on.